:root {
    /* ### Primary */

    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);

    /* ### Neutral */

    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: League Spartan;
}

a {text-decoration: none; color: var(--Soft-Pink); font-weight: 700;}

body {
    min-height: 100%;
    background: url(./social-proof-section-master/images/bg-pattern-top-desktop.svg),
    url(./social-proof-section-master/images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    overflow-x: hidden;
}

.up {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    gap: 15rem;
    width: 100%;
    margin-top: 2rem;
}

.head-txt {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 400px;
}

.head-txt h1 {
    color: var(--Very-Dark-Magenta);
    font-size: 3rem;
}

.head-txt p {
    color: var(--Very-Dark-Magenta);
    line-height: 1.3;
}

.rating {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.rating-card {
    display: flex;
    background-color: var(--Light-Grayish-Magenta);
    padding: 1rem;
    border-radius: 10px;
    gap: 10px;
    height: 50px;
    align-items: center;
    max-width: 400px;
}

.star {
    display: flex;
    gap: 10px;
    object-fit: contain;
}

.rating-card .star img { object-fit: contain;}

.rating-card p {
    font-weight: 700;
    color: var(--Very-Dark-Magenta);
    font-size: 15px;
    margin-left: 1rem;
}

.rating-card:nth-child(1) {margin-left: -7rem;}
.rating-card:nth-child(2) {margin-left: -5rem;}

.review {
    display: flex;
    gap: 2rem;
}

.review-quote {
    background-color: var(--Very-Dark-Magenta);
    padding: 2rem;
    width: 350px;
    border-radius: 7px;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    height: 240px;
}

.review-quote div {
    display: flex;
}

.review-quote img {
    height: 40px;
    border-radius: 100%;
    margin-right: 20px;
}

.name {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.review-quote div .name h2 {color: var(--White); font-size: 16px;}
.review-quote div .name h2:nth-child(2) {color: var(--Soft-Pink);}
.review-quote p {color: var(--Light-Grayish-Magenta); line-height: 1.2;}

.quote {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mr-top-1 {
    margin-top: 2rem;
}

.mr-top-2 {
    margin-top: 4rem;
}

.copyright {
    margin-top: 1rem;
    font-size: 1.2rem;
}

@media (max-width: 1024px) {
    .review {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mr-top-1, .mr-top-2 {
        margin: 0;
    }

    .up {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .rating-card:nth-child(1), .rating-card:nth-child(2) {
        margin: 0;
    }
}

@media (max-width: 375px) {
    .rating {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .rating-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .review-quote {
        width: 300px;
    }
}